@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  object-position: center;
}

.upload-text{
  width: 1rem;
  height: 1rem;
  accent-color: var(--white-color);
}
.upload-button {
    top: 40%;
    left: 30%;
    width: 50%;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: var(--white-color);
    border-radius: 4rem;
    color: var(--black-color);
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
  }
  
  .upload-button:hover {
    background-color: #dedede;
  }